@media (max-width: 1200px)
  .container
    max-width: 960px
  .swiper
    &-slide
      &__img
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 250px
  .blocks
    grid-gap: 15px
  .large
    &-image
      &__packages
        width: 312px
        height: 450px
    &-extra
      width: 312px
      height: 450px
    &__title
      font-size: 15px
      margin-bottom: 10px
    &-block
      margin-top: 25px
      margin-bottom: 15px
  .elements
    &__button
      margin-top: 10px
      width: 110px
      height: 45px
  .medium
    &-image
      width: 300px
      height: 200px
    &-extra
      width: 300px
  .medium
    &__button
      margin-top: 10px
      width: 100px
      height: 40px
  .footer
    &__input
      width: 220px
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 50px
      width: 340px
    &-menu
      padding-top: 19px
      padding-bottom: 24px
      &__link
        margin-left: 12px
        margin-right: 12px
        font-size: 12px
        line-height: 15px
        &::after
          display: none
  .search
    &__button
      width: 64px
      margin-left: 15px
  .hotel
    &-grid
      flex-direction: column
      margin-bottom: -3px
    &-right
      flex-direction: row
    &-info
      &__description
        margin-top: 2px
      &__rating
        margin-top: 10px
    &-slider
      margin-bottom: 20px
  .swiper
    &-container
      width: 700px
    &-slide
      &__img
        width: 100%
  .newsletter
    margin-top: -30px
    height: 260px
    &-title
      margin-top: 10px
    &__subscribe
      margin-top: -10px
    &__form
      margin-top: 20px
  .booking
    width: 340px
    margin-top: 10px
    padding: 28px 21px
    &__per-room
      margin-top: -4px
    &__link
      margin-top: 20px
    &__link
      &::after
        display: none
  .map
    margin-top: 10px
    width: 340px
  .reviews
    &__title
      margin-left: -5px
      font-size: 30px
      margin-bottom: 67px
    &-slider
      margin-top: -18px
      &__button
        top: 49%
        &--prev
          left: 1px
        &--next
          right: 2px
      &__username
        margin-top: 7px
        margin-bottom: 13px
      &__item
        max-width: 580px
        margin-top: 45px
      &__text
        margin-top: -3px
  .activities
    padding-top: 23px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
      &-1
        margin-bottom: 20px
      &-2
        margin-bottom: 20px
      &-3
        margin-bottom: 20px
      &-4
        margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .blocks
    grid-gap: 50px
  .large
    &-image
      &__packages
        width: 350px
        height: 450px
    &-extra
      width: 350px
      height: 450px
    &__title
      font-size: 15px
      margin-bottom: 10px
    &-block
      margin-top: 25px
      margin-bottom: 15px
  .elements
    &-button
      margin-top: 10px
      width: 110px
      height: 45px
      &__link
        &::after
          display: none
  .medium
    &-button
      margin-top: 10px
      width: 100px
      height: 40px
      &__link
        &::after
          display: none
    &-image
      width: 320px
      height: 220px
    &-extra
      width: 320px
  .newsletter
    &__button
      &::after
        display: none
  .card
    &__link
      &::after
        display: none
  .breadcrumb
    &-list
      &__link
        &::after
          display: none
  .footer
    margin-top: -44px
    padding-top: 25px
    padding-bottom: 0
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 28px
    &__input
      &-group
        flex-basis: 49%
    &__logo
      width: 96px
      grid-row: 1 / 2
      margin-right: 170px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        padding-top: 47px
        margin-left: -100px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      margin-left: -1px
    &__legal
      grid-column: span 2
      margin-left: -50px
    &__additional
      grid-column: span 2
      margin-left: -172px
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
        margin-top: 29px
      &-form
        margin-top: -17px
        grid-column: span 5
        grid-row: 4
    &__form
      margin-top: 35px
      width: 534px
    &__bottom
      margin-left: 1px
      margin-top: -70px
      grid-column: 1 / 5
    &__paypal
      grid-column: 6
      margin-top: -80px
      margin-left: -70px
    &__link,
    &__mobile,
    &__mail,
    &__button
      &::after
        display: none
  .modal
    &__dialog
      padding: 15px 38px
  .footer
    &__address
      margin-top: 18px
    &__input
      width: 255px
      margin-bottom: 1px
    &__info
      margin-top: 17px
    &-policy
      margin-top: 27px
    &-paypal
      margin-top: 27px
    &__button
      height: 30px
      font-size: 10px
    &__message
      margin-top: -4px
    &__contact
      &-form
        margin-top: 30px
        margin-left: 0
@media (max-width: 767px)
  .container
    width: 92%
    overflow-x: hidden
  body
    padding-top: 78px
  .navbar
    &-top
      margin-right: 0
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      text-align: center
      top: 0
      right: 0
      left: 0
      bottom: 0
      top: 78px
      padding-top: 5px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-top: 10px
        margin-bottom: 6px
        &--mobile
          &--visible
            display: block
    &__search
      width: 245px
      margin-top: 10px
      margin-left: 230px
      margin-bottom: 20px
  .menu
    &-button
      display: flex
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $gray
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    overflow-y: hidden
    overflow-x: hidden
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
  .swiper
    &-container
      max-width: 576px
      width: 100%
      height: 350px
      margin-bottom: 30px
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      width: 92%
      flex-direction: column
      align-items: flex-start

  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after,
        &:before
          display: none
      &__button
        top: 45px
        left: 50%
        transform: translate(-50%, 0)
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(150%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 47%
    height: 255px
  .blocks
    grid-gap: 10px
  .large
    &-image
      &__packages
        width: 290px
        height: 450px
    &-extra
      width: 290px
      height: 450px
    &__title
      font-size: 13px
      margin-bottom: 10px
    &__text
      font-size: 11px
    &-block
      margin-top: 25px
      margin-bottom: 15px
    &__description
      font-size: 10px
  .elements
    &__button
      margin-top: 10px
      width: 100px
      height: 40px
      font-size: 12px
    &-price
      &__old
        font-size: 12px
      &__new
        font-size: 20px
  .medium
    &-image
      width: 270px
      height: 190px
    &-extra
      width: 270px
  .medium
    &__button
      margin-top: 10px
      width: 100px
      height: 40px
    &-title
      font-size: 14px
    &-description
      font-size: 13px
    &-price
      &__old
        font-size: 13px
      &__new
        font-size: 19px
    &__button
      width: 100px
      height: 40px
      font-size: 12px
  .footer
    &__input
      &-group
        flex-basis: 100%
  .modal
    &__dialog
      padding: 10px 28px
@media (max-width: 576px)
  .container
    width: 90%
    overflow-y: hidden
    margin: 0 auto
  .logo
    width: 99px
  .navbar
    &__search
      margin: 0 auto
    &-bottom
      overflow-y: scroll
  .hotel
    padding-top: 16px
    overflow-y: hidden
    &-info
      &__text
        margin-top: 15px
      &__description
        margin-top: 1px
      &__name
        margin: 0
        margin-top: 10px
        font-size: 24px
        font-weight: 700
        line-height: 30px
      &__offer
        margin-top: -20px
    &-wrapper
      margin-top: 10px
  .breadcrumb
    &-list
      padding-bottom: 1px
      &__item
        font-size: 10px
  .stars
    margin-top: -20px
    margin-right: 20px
  .swiper
    &-container
      height: 180px
      margin-bottom: 20px
      margin-top: 15px
  .booking
    position: relative
    height: 210px
    &__icon
      margin-left: 30px
  .map
    width: 90%
    margin: 0 auto
    position: absolute
    margin-top: 220px
  .newsletter
    height: 320px
    padding: 67px 0 39px 0
    margin-top: -73px
    &__button
      margin-right: -50px
    &__form
      width: 220px
    &__title
      margin-left: 10px
    &-title
      margin-bottom: -15px
      font-size: 20px
      font-style: normal
      font-weight: 300
      line-height: 25px
      &__strong
        margin-top: 7px
        font-size: 30px
        font-style: normal
        line-height: 38px
  .input
    width: 230px
    margin-left: 10px
  .booking
    margin-top: 2px
    padding: 30px 22px
    &__number
      font-weight: 300
      margin-top: -3px
    &__link
      margin-top: 4px
    &__call-center
      margin-top: 13px
    &__heading
      margin-top: -5px
    &__num
      margin-top: -5px
  .reviews
    margin-top: 28px
    padding-bottom: 20px
    &__title
      width: 220px
      text-align: center
      margin: auto
      font-size: 17px
      line-height: 25px
    &-slider
      margin-top: 38px
      min-height: 480px
      &__item
        margin-top: 45px
      &__profile
        min-height: 100px
      &__text
        width: 210px
        margin-top: -2px
        font-size: 12px
      &__username
        margin-top: 10px
        margin-bottom: 10px
      &__button
        top: 35px
        left: 50%
        transform: translate(-50%, 0)
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-140%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(255%, 0)
  .activities
    padding-top: -20px
    &__title
      font-size: 18px
      line-height: 22px
      font-weight: 700
      font-style: normal
      margin-bottom: 36px
    &__card
      &-1
        order: 0
      &-2
        order: 3
      &-3
        order: 2
      &-4
        order: 4
  .card
    width: 100%
  .large
    display: flex
    grid-column: span 1
    margin: 0
    margin-top: 180px
    height: 300px
    margin-bottom: -40px
    &-extra
      position: absolute
      width: 90%
      overflow: hidden
      height: 260px
      padding: 25px 10px 30px 10px
    &-image
      position: relative
      &__offer
        margin-top: -190px
        width: 70px
        font-size: 8px
        text-align: center
        padding: 4px
      &__packages
        height: 360px
        width: 100%
        margin-top: -200px
    &__title
      font-size: 13px
      margin-bottom: 1px
    &__text
      font-size: 9px
      line-height: 1px
    &-block
      margin-top: 10px
      &__element
        margin-bottom: 3px
    &__description
      font-size: 7px
      margin-left: 3px
    &__icon
      width: 10px
      height: 10px
  .stars
    &-image
      width: 5px
      height: 5px
  .blocks
    display: grid
    gap: 10px
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr ))
  .other
    padding-top: 10px
    &__title
      margin-left: 0
      font-size: 20px
  .elements
    display: block
    &-button
      position: absolute
      display: inline-block
      width: 120px
      height: 30px
      margin-top: -35px
      margin-left: 130px
      &__link
        margin-top: 5px
        font-size: 10px
    &-price
      margin-top: -10px
      &__old
        font-size: 10px
      &__new
        font-size: 15px
        margin-top: -10px
  .medium
    &-block
      &__element
        margin-bottom: 7px
    &-button
      width: 150px
      margin-top: 2px
      margin-right: 10px
      &__link
        font-size: 11px
        margin-top: 8
    &-title
      font-size: 13px
      margin-bottom: 15px
    &-description
      font-size: 11px
    &-image
      min-width: 100%
      height: 210px
      &__packages
        width: 100%
    &-extra
      width: 100%
      padding-top: 40px
      padding-left: 30px
    &-price
      &__old
        font-size: 13px
        margin-bottom: 2px
      &__new
        font-size: 16px
  .footer
    margin-top: -25px
    padding-top: 18px
    &__mail
      margin-left: 10px
      margin-top: 20px
    &__mobile
      margin-left: 35px
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 13px
    &__address
      margin-left: -6px
    &__logo
      width: 97px
      height: 110px
      grid-row: 1
      grid-column: 1
      margin-bottom: 10px
    &__social
      &-network
        margin-top: -2px
        flex-wrap: wrap
        grid-row: 2
        grid-column: 1
        margin-left: 0
      &-links
        margin-right: 50px
        margin-top: 22px
        margin-left: 1px
        margin-bottom: 15px
    &__title
      font-size: 18px
      &--inline
        font-size: 18px
      &--mb-3
        margin-top: 42px
        margin-bottom: 20px
    &__link
    &__text
      width: 300px
      font-size: 14px
      &--mb-4
        width: 270px
        line-height: 25px
        margin-bottom: 18px
    &__ul
      width: 270px
    &__additional
      grid-row: 4
      grid-column: 1
      margin-left: 0
      margin-bottom: 20px
      margin-top: -15px
    &__categories
      grid-row: 5
      grid-column: 1
      margin-bottom: 20px
      margin-top: -13px
    &__legal
      grid-row: 3
      grid-column: 1
      margin-left: 0
      margin-bottom: 15px
      margin-top: -15px
    &__contact
      position: relative
      width: 100px
      &-details
        margin-top: 2px
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
        margin-top: 22px
    &__form
      margin-top: -5px
      width: 280px
    &__message
      height: 125px
    &__button
      position: absolute
      margin-top: 300px
      width: 140px
      font-size: 12px
    &__info
      font-size: 12px
      margin-right: 30px
      margin-top: -2px
    &__bottom
      grid-row: 10
      grid-column: 1
      margin-top: -100px
      width: 300px
    &-policy
      font-size: 12px
      margin-top: -4px
      margin-right: 5px
    &__paypal
      margin-top: -133px
      grid-column: 1
      grid-row: 11
      margin-left: 5px
    &__item
      &--mb-2
        width: 273px
        margin-left: -5px
    &__icon
      margin-top: -13px
      margin-left: 5px
      &--mt-1
        margin-top: -15px
      &-mail
        margin-left: 7px
        margin-top: 22px
    &__input
      margin-left: 0
      width: 270px
      margin-bottom: -5px
      font-size: 12px
    &__message
      max-width: 270px
      height: 122px
      font-size: 12px
    &__text
      margin-top: -6px
      line-height: 25px
  .modal
    &__dialog
      padding: 50px 90px
      width: 460px
      min-height: 220px
    &__title
      font-size: 13px
      margin-bottom: 5px
    &__input
      height: 40px
      margin-bottom: 5px
    &__message
      min-height: 40px
      margin-left: 0
    &__button
      min-height: 20px
      padding: 13px
      font-size: 10px
    &__info
      margin-left: 10px
