.other
  padding-top: 24px
  padding-bottom: 60px
  &__title
    font-size: 36px
    font-style: normal
    font-weight: 700
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin-bottom: 38px
.large
  display: flex
  grid-column: span 2
  &__title
    margin-top: 5px
    font-size: 18px
    font-style: normal
    font-weight: 700
    line-height: 23px
  &__text
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 22px
  &-block
    margin-top: 34px
    margin-bottom: 37px
    &__element
      display: flex
      align-items: center
      margin-bottom: 11px
  &__description
    margin-left: 14px
    font-size: 12px
    font-style: normal
    font-weight: 400
    line-height: 15px
  &__icon
    max-width: 100%
  &-extra
    width: 364px
    height: 500px
    background-color: $blue
    color: $light
    padding: 46px 21px 30px 43px
    border-radius: 0 4px 4px 0
  &-image
    position: relative
    &__packages
      width: 366px
      height: 500px
      border-radius: 4px 0 0 4px
    &__offer
      position: absolute
      width: 95px
      left: 0
      top: 26px
      padding: 8px
      background-color: $primary
      color: $light
      font-size: 12px
      font-style: normal
      font-weight: 600
      line-height: 15px
      border-radius: 0 4px 4px 0
.elements
  display: flex
  justify-content: space-between
  &-price
    display: flex
    flex-direction: column
    &__old
      font-size: 14px
      font-style: normal
      font-weight: 400
      line-height: 18px
      text-decoration: line-through
      margin-bottom: 5px
    &__new
      font-size: 24px
      font-style: normal
      font-weight: 700
      line-height: 30px
  &__button
    width: 120px
    height: 40px
    background-color: $primary
    color: $light
    border: none
    border-radius: 4px
    cursor: pointer
    margin-top: 20px
.medium
  &-image
    position: relative
    &__packages
      width: 350px
      height: 250px
      border-radius: 4px 4px 0 0
      margin-bottom: -10px
    &__offer
      position: absolute
      width: 60px
      height: 18px
      left: 0
      top: 26px
      padding: 5px
      background-color: $primary
      color: $light
      font-size: 8px
      font-style: normal
      font-weight: 600
      line-height: 10px
      border-radius: 0 4px 4px 0
  &-extra
    height: 250px
    width: 350px
    padding: 30px 21px 25px 32px
    background-color: $blue
    color: $light
    border-radius: 0 0 4px 4px
  &-title
    margin-bottom: 23px
    margin-top: 0
    font-size: 18px
    font-style: normal
    font-weight: 700
    line-height: 23px
  &-block
    margin-bottom: 24px
    &__element
      display: flex
      align-items: center
      margin-bottom: 11px
  &-description
    margin-left: 14px
    font-size: 12px
    font-style: normal
    font-weight: 400
    line-height: 15px
  &-icon
    max-width: 100%
  &-elements
    display: flex
    justify-content: space-between
  &-price
    display: flex
    flex-direction: column
    &__old
      font-size: 14px
      font-style: normal
      font-weight: 400
      line-height: 18px
      text-decoration: line-through
      margin-bottom: 5px
    &__new
      font-size: 24px
      font-style: normal
      font-weight: 700
      line-height: 30px
  &__button
    margin-top: 30px
    width: 120px
    min-height: 40px
    background-color: $primary
    color: $light
    border-radius: 4px
    border: none
    font-size: 14px
    font-style: normal
    font-weight: 600
    line-height: 19px
    cursor: pointer
.blocks
  display: grid
  gap: 30px
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr ))
